
/*-------------------------头部--------------------------------------*/			
			
/*------------------------------广告横幅-------------------------------------------*/     
            #banner{
            	width: 1263px;
            	height: 409px;
            	position: relative;
            	overflow: hidden;
            	
            }       
            #banner ul{
            	position: absolute;
            }
            #banner ul li a img{
            	width: 1263px;
            	height: 409px;
            	float: left;
            }
            #banner ul li{
            	width: 1263px;
            	height: 409px;
            	float: left;
            }
            #pages{
            	width: 150px;
            	height: 20px;
            	position: absolute;
            	left: 562px;
            	bottom: 20px;
            }
            #pages div{
            	width: 20px;
            	height: 20px;
            	background: #53524e;
            	float: left;
            	border-radius:10px ;
            	cursor: pointer;
            	margin: 0 10px 0 0;
            	color: #FFFFFF;
            	font-size: 10px;
            	text-align: center;
            	line-height: 20px;
            	
            }
            #pages div.current{
            	background:red ;
            }
/*------------------网页内容-----------------------*/   
                   
            #cont_1{
            	width: 1263px;
            	height: 663px;
            }
            #cont1_cont{
            	width: 915px;
            	height: 571px;
            	margin: 110px 0 0 89px;
            }
            #cont1_cont .cont1_cont_top{
            	width: 905px;
            	height: 55px;
            }   
            #cont1_cont .cont1_cont_top .k{
            	width: 300px;
            	height: 33px;
            	border: 1px solid black;
            	text-align: center;
            	line-height: 33px;
            	margin: 0 0 0 429px;
            }
            #cont1_cont .cont1_cont_top .k a{
            	color: black;
            }
            .cont1_cont_bottom ul li{
            	float: left;
            	padding: 10px 10px 0 0;
            }
            .cont1_cont_bottom ul li a img{
            	width: 295px;
            	height: 159px;
            }
            
            
            #cont2{
            	width: 1263px;
            	height: 1442px;
            	
            }
            #cont2 .cont2_top{
            	width: 1263px;
            	height: 122px;
            }
            #cont2 .cont2_top a{
            	display: block;
            	width: 85px;
            	height: 50px;
            	padding-right: 80px;
            	float: right;
            }
            #cont2 .cont2_bottom{
            	width: 956px;
            	height: 1200px;
            	padding-left: 130px;
            }
            .biaoti{
            	width: 300px;
            	height: 33px;
            	border: 1px solid black;
            	text-align: center;
            	line-height: 33px;
            	margin-left: 390px;
            	margin-bottom: 10px;
            }
            .biaoti a {
            	color: #000000;
            }
            #cont2 .cont2_bottom dl{
            	float: left;
            	width: 226px;
            	height: 355px;
            	font-size: 10px;
                padding: 28px 13px 0 0;
            }
            #cont2 .cont2_bottom dl dd p{
            	text-align: center;
            	
            }
            .tpdx{
            	width: 226px;
            	height: 310px;
            }
            #cont2 .more{
            	    display: block;
				    width: 100px;
				    height: 50px;
				    float: right;
				    padding: 0 80px 0 0;
            }
            
            #cont3{
            	width: 1263px;
            	height: 1309px;
            }
            #cont3 .cont3_box{
            	width: 956px;
            	height: 1200px;
            	padding-left: 130px;
            }
            #cont3 .cont3_box dl{
            	float: left;
            	width: 226px;
            	height: 355px;
            	font-size: 10px;
                padding: 28px 13px 0 0;
            }
            #cont3 .more{
            	    display: block;
				    width: 100px;
				    height: 50px;
				    float: right;
				    padding: 0 80px 0 0;
            }
            #cont3 .cont3_box dl dd p{
            	text-align: center;
            }
            
            #cont4{
            	width: 1263px;
            	height: 1309px;
            }
            #cont4 .cont4_box{
            	width: 956px;
            	height: 1200px;
            	padding-left: 130px;
            }
            #cont4 .cont4_box dl{
            	float: left;
            	width: 226px;
            	height: 355px;
            	font-size: 10px;
                padding: 28px 13px 0 0;
            }
            #cont4 .cont4_box dl dd p{
            	text-align: center;
            }
            #cont4 .more{
            	    display: block;
				    width: 100px;
				    height: 50px;
				    float: right;
				    padding: 0 80px 0 0;
            }
            
            #cont5{
            	width: 1263px;
            	height: 1309px;
            }
            #cont5 .cont5_box{
            	width: 956px;
            	height: 1200px;
            	padding-left: 130px;
            }
            #cont5 .cont5_box dl {
            	float: left;
            	width: 226px;
            	height: 355px;
            	font-size: 10px;
            	padding: 28px 13px 0 0;
            	text-align: center;
            }
            #cont5 .more{
            	display: block;
            	width: 100px;
            	height: 50px;
            	float: right;
            	padding: 0 80px 0 0;
            }
            
            
            #cont6{
            	width: 1263px;
            	height: 1238px;
            }
            #cont6 .cont6_box{
            	width: 956px;
            	height: 1200px;
            	padding-left: 130px;
            }
            #cont6 .cont6_box dl {
            	float: left;
            	width: 226px;
            	height: 355px;
            	font-size: 10px;
            	padding: 28px 13px 0 0;
            	text-align: center;
            }
            #cont6 .more{
            	display: block;
            	width: 100px;
            	height: 50px;
            	float: right;
            	padding: 0 80px 0 0;
            }
            
            #cont_end{
            	width: 1263px;
            	height: 235px;
            	overflow: hidden;
            }
            #cont_end .cont_end_box{
            	width: 1000px;
            	height: 140px;
            	border: 1px solid black;
            	margin: 45px 0 0 108px;
            	position: relative;
            }
            #cont_end .cont_end_box p{
            	line-height: 37px;
			    padding-top: 28px;
			    width: 960px;
			    height: 110px;
			    text-indent: 2em;
			    font-size: 20px;
			    padding-left: 28px;
            	color: #444444;
            }
            #cont_end .cont_end_box .jued{
                position: absolute;
				width: 400px;
				height: 30px;
				background: #ffffff;
				left: 300px;
				top: -12px;
				text-align: center;
            }
            #cont_end .cont_end_box .jued h3{
            	color: #444444;
            }
            
